/* comenzamos sass */

body {
    font-family: 'El Messiri', sans-serif;
    line-height: 1.5;
}

/* Imagen logo */
.image-mama img {
    width: 30%;
    height: 300px;
    border-radius: 70%;
    
}
